<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3EBSdbOKt6s4-aCLK9fSnlYVaPTF7qpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>824249531144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sesizzSehir</string>
	<key>PROJECT_ID</key>
	<string>sessizsehir-73b29</string>
	<key>STORAGE_BUCKET</key>
	<string>sessizsehir-73b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824249531144:ios:35917d5cf1a5ffe93c4abd</string>
</dict>
</plist>